.about-container {
  width: 100%;
  height: 100%;
}

.about-box {
  width: 80%;
  max-width: 1200px;
  text-align: center;
  margin: 50px 0;
}

.about-box-title {
  color: #4367a3;
  font-size: 2em;
  font-weight: 500;
  margin-bottom: 15px;
}

.about-box-inner-box {
  width: 100%;
  margin-bottom: 30px;
}

.about-box-inner-flex {
  flex-wrap: wrap;
  justify-content: space-around;
}

.about-box-inner-image {
  width: 40%;
}

.about-box-inner-container {
  width: 40%;
}

.about-box-inner-title {
  font-size: 1.5em;
  color: #4367a3;
  margin-bottom: 20px;
}

.about-box-inner-p {
  font-size: 1.2em;
  font-weight: 200;
  text-align: justify;
}

@media screen and (max-width: 480px) {
  .about-box-inner-image {
    width: 100%;
  }
  .extra-flex {
    flex-wrap: wrap-reverse;
  }
  .about-box-inner-container {
    width: 100%;
  }
  .about-box-inner-p {
    font-size: 1em;
  }
}
